@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Armenian:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Armenian&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root {
    --dark: #050505;
    --black: #000000;
    --white: #ffffff;
}
body{
    background-color: var(--dark);
}
.header-disign{
    background: var(--dark);
}
.color-menu{
    color: var(--white);
    font-family: 'Noto Serif Armenian', serif;
    padding-bottom: 5px;
}
.color-menu:hover{
    color: var(--white);
    border-bottom: 1px var(--white) solid;
}
#activ{
    border-bottom: 1px var(--white) solid;
}
.logo-text{
    color: var(--white);
    font-size: 25px;
    font-family: 'Noto Serif Armenian', serif;
}
.logo-text:hover{
    color: var(--white);
}
.figure-disign{
    max-width: 600px;
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
}
.figcaption-text-disign a{
    color: var(--white);
    font-size: 25px;
    font-family: 'Noto Serif Armenian', serif;
    text-decoration: none;
}
.figcaption-text-disign a:hover{
    text-decoration: underline;
}
.figure-disign:hover{
    opacity: 0.7;
}
.news-block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.block-disign{
    display: flex;
    flex-direction: column;
}
.news-mini-block{
    max-width: 150px;
    width: 100%;
}
.mini-news-block-link{
    display: flex;
    align-items: flex-end;
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Noto Serif Armenian', serif;
}
.mini-news-block-link:hover{
    color: var(--white);
    text-decoration: underline;
    opacity: 0.7;
}
.mini-news-block-link img{
    margin-right: 25px;
}
.mini-news-block{
    margin-left: 50px;
}
.mini-news-block div{
    margin-top: 25px;
}
.navbar-toggler{
    background-color: var(--white);
}
.news-card-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.card{
    background-color: var(--black);
    color: var(--white);
    border: 1px var(--white) solid;
    font-family: 'Noto Serif Armenian', serif;
}
.btn-more-disign{
    background-color: var(--dark);
    color: var(--white);
    border: 1px var(--white) solid;
}
.btn-more-disign:hover{
    background-color: var(--dark);
    color: var(--white);
    border: 1px var(--white) solid;
    opacity: 0.7;
}
.footer-disign{
    border-top: 1px var(--white) solid;
    padding-top: 25px;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-link{
    padding: 0;
}
.footer-link-copirayt li, .footer-link li{
    display: flex;
    align-items: stretch;
    margin-top: 25px;
    color: var(--white);
    font-size: 15px;
    font-family: 'Noto Serif Armenian', serif;
}
.footer-link li a{
    margin-left: 15px;
    color: var(--white);
    text-decoration: none;
}
.footer-link li a:hover{
    text-decoration: underline;
}
.footer-link-copirayt li a{
    color: var(--white);
    font-size: 25px;
    margin-right: 10px;
}
.input-register{
    border-radius: 25px;
    padding: 10px;
    outline: none;
    border: none;
    margin: 25px;
}
.form-div{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-head{
    color: var(--white);
    font-size: 25px;
    font-family: 'Noto Serif Armenian', serif;
}
.input-disign{
    color: var(--white);
    font-size: 15px;
    font-family: 'Noto Serif Armenian', serif;
}
.input-register-button{
    margin-top: 25px;
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 25px;
}
.thankyou_message{
    display: none;
    max-width: 400px;
    width: 100%;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
    margin: 5% auto;
    background-color: var(--white);
    font-size: 25px;
    font-family: 'Noto Serif Armenian', serif;
}
.thankyou_message p{
    margin-bottom: 25px;
}
.liga-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.liga-block-disign a{
    flex-direction: column;
    align-items: flex-start;
}
.liga-block-disign a img{
    margin-bottom: 15px;
}
.exit-leagues{
    margin: 25px;
}
.exit-leagues a i{
    color: var(--white);
    font-size: 25px;
}